:root {
    --cor-de-fundo: #181818;
    --cor-botoes-try-signup:#4452FE;
    --cor-letra: #fff;
    --fonte-letras: 'Khula', sans-serif;  
}

body {
    
    background-color: var(--cor-de-fundo);
    color: var(--cor-letra);
    font-family: var(--fonte-letras); 
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    margin-top: 30px;
}

.header-nav {
    display: flex;
    justify-content: center;
}


.header-logo{
    display: flex;
    flex-direction: row;
    padding-right: 136px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 393px;
    height: 44px;
}

.header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 183.5px;
}

.header-login button {
    cursor: pointer;
    width: 139px;
    height: 52px;
    border: 1px solid #FFFFFF;
    background: var(--cor-de-fundo);
    color: var(--cor-letra);
    font-weight: 500;
    font-size: 17px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    gap: 17px;
    width: 1579px;
    height: 393px;
}

.header-text-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 729px;
    height: 196px;
}

.header-text-title h1 {
    font-weight: 500;
    font-size: 80px;
    text-align: center;
}

.header-text-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 602px;
    height: 80px;
}

.header-text-p  p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.header-button {
    display: flex;
    justify-content: space-between;
    width: 387px;
    height: 65px;
}

.header-button-try {
    width: 178px;
    height: 65px;
    border: none;
    background: #4452FE;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: var(--cor-letra);
    cursor: pointer;  
}

.header-button-learn {
    width: 178px;
    height: 65px;
    background-color: var(--cor-de-fundo);
    border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color:#FFFFFF;
    cursor: pointer;
}



.header-screen-img {
    width: 1552.02px;
    height: 841px;
    left: 13.49px;
    top: 682px;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 50px;
    gap: 10px;
    width: 1579px;
    height: 1112px;
    background: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.features-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 27px;
    width: 602px;
    height: 149px;
}

.features-header h1 {
    font-family: 'Khula', sans-serif;
    font-style: normal;

    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.features-header p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

